target/
*.jar
*.zip
*.yml


// gemini api  key::AQ.Ab8RN6KlN_u4eiOgO1nLieF4SrTbhnfEfO76q7rZtQ1HGnMyDg
https://github.com/Mr-Chakradhar09/HYD-HACKATHON-/security/secret-scanning/unblock-secret/3G4MNSBiQMLScSvM2D1CdRySC7v
